@charset "utf-8";
@import "../../../assets/scss/base/necessary";

.add-btn {
  color: #ffffff;
  background-color: darkgrey;
  width: 135px;
  float: left;
  border-radius: 20px;
}
.cancel-btn {
  color: #02d1b1;
  border-color: #02d1b1;
  width: 135px;
  border-radius: 20px;
}
.preservation-btn {
  @extend .add-btn;
  background-color: #02d1b1;
  border-color: #02d1b1;
}
.preservation-btn:focus, .preservation-btn:hover {
  color: #ffffff;
  border-color: #02d1b1;
}
.cancel-btn:focus, .cancel-btn:hover {
  color: #02d1b1;
  border-color: #02d1b1;
}
.el-dialog__footer {
  padding: 10px 39px 20px;
}
.el-dialog__body {
  padding: 30px 37px 30px 37px;
  color: #48576a;
  font-size: 14px;
}
/*头部标题*/
.head-title {
  position: absolute;
  left: 23%;
  top: 38px;
  font-size: 21px;
  color: grey;
}
.error-text {
  color: #ff4949;
  font-size: 12px;
  line-height: 1;
  padding-top: 4px;
  position: absolute;
  top: 55%;
  left: 22px;
}
/*弹框*/
.el-dialog--tiny {
  width: 370px;
}

//手机号搜索
.search-result {
  height: 50px;
  margin-top: 10px;
  overflow: hidden;
  margin-bottom: -30px;
  img {
    width: 40px;
    height: 40px;
  }
  .lineHeight {
    line-height: 51px;
  }
}
